body {
    background-color: #f5efef;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    /* make it centered */
    text-align: center;
    margin: 0;
    padding: 0;
}

/* header {
    background-color: #f5efef;
    padding: 40px 0 10px;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 4rem;
    margin: 40px 0 5px;
} 
 */

.music-post {
    background-color: aqua;
    display: flex;
    align-items: center;
    margin: 20px 20px;
}
